.app-navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15%;
  z-index: 1000;
}

.navbar-vertical {
  list-style: none;
  padding: 0;
  padding-top: 56px;
}

.nav--item {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.nav--item:hover {
  background-color: rgb(70, 130, 180);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  cursor: pointer;
  transform: translatex(2%);
}
