/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* logout container */
.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  padding-top: 25vh;
}

/* Title and subtitle */
.logout-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.logout-subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}