/* Set up the background */
body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #e0f7fa, #b3e5fc, #90caf9);
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
